fastapi
langchain
langchain-core
langchain-community
langchain-text-splitters
pydantic
uvicorn
numpy
scikit-learn
requests
python-dotenv
pytest
docker-compose
pillow
sentence-transformers
qdrant-client
pinecone-client
azure-ai-textanalytics
azure-cognitiveservices-vision-computervision
transformers
PyMuPDF
pypdf
unstructured[pdf]